{% extends "MultIndex5.html" %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<br>
<h2> Prediction using finetuned VGG16 CNN Model: </h2>
<p>
<table>
  <tr>
    <th>Class</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Elephant </td>
    <td>{{statistics.Elephant }}</td>
  </tr>
  <tr>
    <td>Maybe Elephant or other class </td>
    <td>{{statistics.MaybeElephant}}</td>
  </tr>
  <tr>
    <td>Wildebeest </td>
    <td>{{statistics.Wildebeest }}</td>
  </tr>
  <tr>
    <td>Maybe Wildebeest or other class  </td>
    <td>{{statistics.MaybeWildebeest}}</td>
  </tr>
  <tr>
    <td>Zebra</td>
    <td>{{statistics.Zebra}}</td>
  </tr>
  <tr>
    <td>Maybe Zebra or other class </td>
    <td>{{statistics.MaybeZebra}}</td>
  </tr>
  <tr>
    <td>Other</td>
    <td>{{statistics.Other}}</td>
  </tr>
</table>
<br>
<br>
<p> Total # of files uploaded: {{total}} </p>
<br>
<p>Filename:Classification:</p> 
{% for post in preddict%}
{{ post.Filename}} : {{ post.Classification}}</p>
<br>
{% endfor %}
{% endblock %} 
	
	

