<!DOCTYPE html>
<html lang="en">
<title>{% block title %}African Savnaa Grazers{% endblock %}</title>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


</style>
<body>
	
	<div class = "page">
<img style="width:100%" src="/static/home-rev2.jpg">
	</div>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/examples">EXAMPLES</a></li>
		<li style="float:right"><a href="mailto:mrtdesai@gmail.com"><i class="fas fa-envelope" style="color:white"></i></a></li>
           <li style="float:right"><a href="https://www.linkedin.com/in/tushar-v-desai"><i class="fab fa-linkedin" style="font-size:14px;color:white"></i></a></li>
	</ul>

	<h2>Files were not uploaded or file format is not supported. Please return to HOME and load file in .jpg format. A maximum of 100 files can be uploaded at one time.</h2>
{% block content %}{% endblock %}
</div>
</body>
</html>
